/* components/SearchBar.module.css */

.navbarContainer {
  display: flex;
  align-items: center;
  padding: 5px 5px;
  position: relative;
  z-index: 1000; /* Ensure this is higher than overlapping elements */
}

.logo {
  margin-right: 10px;
}

.searchContainer {
  position: relative;
  width: 100%;
}

.searchBar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 3px 8px;
  box-sizing: border-box;
  background-color: white;
}

.searchInput {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 5px 8px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: white;
}

.searchIcon {
  color: #888;
  font-size: 1.5em;
  cursor: pointer;
  margin-left: 5px;
}

.suggestionsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: left;
  border-radius: 10px;
  overflow: hidden;
}

.suggestionItem {
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-weight: bold;
  color: grey;
  text-decoration: none;
  cursor: pointer;
  text-align: left;
}

.suggestionItem a {
  color: inherit;
  text-decoration: none;
}

.suggestionItem:hover {
  background-color: #f0f0f0;
}

.suggestionItem:first-child {
  background-color: #d7f7f4;
  color: black;
}

.suggestionItem:first-child .highlight {
  background-color: #5fe1d5;
}

.highlight {
  background-color: #5fe1d5;
}

.authButton {
  padding: 20px 20px;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #682bd7;
  color: white;
  border-radius: 10px;
  z-index: 2000; /* Ensure this is higher than overlapping elements */
  text-decoration: none;
  position: relative;
}

.authButton:hover {
  background-color: #5d27c2;
}

.noUnderline {
  text-decoration: none !important;
  color: white !important;
}

.noUnderline:hover {
  text-decoration: none !important;
  color: white !important;
}

.profileIcon {
  margin-left: 10px;
  margin-right: 10px;
  color: #682bd7;
  font-size: 2em;
  cursor: pointer;
  z-index: 2000; /* Ensure this is higher than overlapping elements */
  position: relative;
}

.profileIcon:hover {
  color: #8444fa;
}
