@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  font-family: 'GeistSans', sans-serif;
}

pre {
  background: none !important;
  color: inherit !important;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  position: relative;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

body {
  font-family: 'GeistSans', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

html, body {
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

/* Define the inter-<uniquifier> classes */
.inter-unique-light {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.inter-unique-regular {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-unique-medium {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-unique-bold {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.inter-unique-black {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

/* styles/globals.css */
@import 'bootstrap/dist/css/bootstrap.min.css';

/* Custom styles */
.btn-primary {
  background-color: #682bd7 !important;
  border-color: #682bd7 !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #520dc2 !important; /* Slightly darker shade of #6610f2 */
  border-color: #520dc2 !important;
}

/* Custom secondary button color */
.btn-secondary {
  background-color: #5fe1d5 !important;
  border-color: #5fe1d5 !important;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  background-color: #5fe1d5 !important;
  border-color: #5fe1d5 !important;
}

.custom-link {
  color: #682bd7;
  text-decoration: none !important;
}

.custom-link:hover,
.custom-link:focus {
  color: #520dc2; /* Slightly darker shade of #6610f2 */
  text-decoration: underline;
}

/* Remove underline from all links */
a {
  text-decoration: none !important;
}

a:hover,
a:focus {
  text-decoration: underline;
}
