.pageContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align the container towards the top */
  min-height: 200vh; /* Ensure it takes up the full height of the viewport */
  padding-top: 50px; /* Optional padding to adjust vertical alignment */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content vertically within the container */
  height: auto; /* Adjust the height to take up a portion of the page */
  width: 80vw; /* Adjust the width to take up a large portion of the page */
  text-align: center;
  background-color: #682bd7; /* Set background color */
  padding: 50px 20px; /* Add some padding */
  border-radius: 10px; /* Add border radius for better aesthetics */
  margin-top: 20px; /* Adjust position from the top */
}

.mainHeader {
  font-size: 4rem; /* Make the main header larger */
  font-weight: bold; /* Make the text much thicker */
  color: white; /* Set the color to white */
  margin-bottom: 1.5rem; /* Increase vertical padding between headers */
}

.subHeader {
  font-size: 1.5rem;
  font-weight: bold; /* Make the text much thicker */
  color: #5fe1d5; /* Set the color */
  margin-bottom: 2rem;
}

.searchContainer {
  width: 100%;
}

/* Media Queries for responsiveness */
@media (max-width: 775px ){
  .subHeader {
    font-size: 1.25rem;
  }
}
@media (max-width: 680px) {
  .mainHeader {
    font-size: 3rem; /* Decrease font size for smaller screens */
  }
  
  .subHeader {
    font-size: 1.05rem; /* Decrease font size for smaller screens */
  }
}

@media (max-width: 600px) {
  .mainHeader {
    font-size: 3rem; /* Decrease font size further for even smaller screens */
  }
  
  .subHeader {
    font-size: 1rem; /* Decrease font size further for even smaller screens */
  }
}
