.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding-top: 50px;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  max-width: 90vw;
  text-align: center;
  background-color: #682bd7;
  padding: 50px 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-sizing: border-box;
}

.mainHeader {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1.5rem;
}

.subHeader {
  font-size: 1.5rem;
  font-weight: bold;
  color: #5fe1d5;
  margin-bottom: 2rem;
}

.searchContainer {
  width: 100%;
}

.sectionsContainer {
  width: 100%;
  max-width: 90vw;
  margin-top: 50px;
  box-sizing: border-box;
}

.section {
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.sectionHeader h3 {
  margin: 0;
  font-size: 1.5rem;
  color: black;
}

.viewAll {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.viewAll:hover {
  color: white;
}

.bgColor1 .viewAll:hover {
  color: #5fe1d5;
}

.bgColor2 .viewAll:hover {
  color: #682bd7;
}

.bgColor3 .viewAll:hover {
  color: #282c34;
}

.itemsContainer {
  display: flex;
  overflow-x: auto;
  padding-bottom: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.itemsContainer::-webkit-scrollbar {
  display: none;
}

.bgColor1 .item {
  background-color: #5fe1d5;
  color: black;
}

.bgColor1 .item:hover {
  background-color: #682bd7;
  color: white;
}

.bgColor2 .item {
  background-color: #682bd7;
  color: white;
}

.bgColor2 .item:hover {
  background-color: #282c34;
  color: white;
}

.bgColor3 .item {
  background-color: #282c34;
  color: white;
}

.bgColor3 .item:hover {
  background-color: #5fe1d5;
  color: black;
}

.item {
  flex: 0 0 auto;
  width: 200px;
  height: 130px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #333;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item span {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 900px) {
  .item {
    width: 150px;
    height: 80px;
    font-size: 1rem;
  }
}

@media (max-width: 775px) {
  .subHeader {
    font-size: 1.25rem;
  }
}

@media (max-width: 680px) {
  .mainHeader {
    font-size: 3rem;
  }
  
  .subHeader {
    font-size: 1.05rem;
  }
}

@media (max-width: 600px) {
  .item {
    width: 100px;
    height: 60px;
    font-size: 0.875rem;
  }
  .mainHeader {
    font-size: 3rem;
  }
  
  .subHeader {
    font-size: 1rem;
  }
}
