.carouselContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.carouselItem {
  width: 90%;
  min-height: 400px;
  display: flex;
  flex-direction: column; /* Stack content vertically */
  justify-content: flex-start; /* Align content to the top */
  align-items: center; /* Center content horizontally */
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow-y: auto;
  transition: all 0.3s ease;
}

.navButton {
  background-color: #682bd7;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-size: 24px;
}

.navButton:hover {
  background-color: #6c2de1;
}

.navContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5%;
  margin: 0 20px;
}

.navTitle {
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
  text-align: center;
}

.imagePreview {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 20px;
}

.resumeLink {
  display: block; /* Ensure it takes up the full width and stacks below the image */
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #5fe1d5;
  color: black;
  border-radius: 4px;
  text-decoration: none;
}

.resumeLink:hover {
  background-color: #64eddf;
}

.socialLinks {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.iconLink {
  color: #333;
  transition: color 0.3s ease;
}

.iconLink:hover {
  color: #0077b5; /* LinkedIn color */
}

.workExperience, .project {
  background-color: #f9f9f9;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 100%;
}

.portfolioLink {
  color: #007bff;
  text-decoration: none;
}

.portfolioLink:hover {
  text-decoration: underline;
}
