.pageContainer {
  display: grid;
  grid-template-columns: 250px 1fr 300px; /* Define the columns: sidePanel, mainContent, adSide */
  grid-template-rows: auto; /* Auto height for rows */
  gap: 0; /* No gap between columns */
  min-height: 100vh; /* Ensure the container takes up the full height of the viewport */
  max-width: 100vw; /* Prevent horizontal overflow */
  overflow-x: auto; /* Allow horizontal overflow */
  position: relative;
  z-index: 1; /* Lower z-index to ensure authButton is on top */
}

.sidePanel {
  background-color: #f0f0f0;
  padding: 20px;
}

.sidePanel h2 {
  margin-top: 0;
  font-size: 1.6rem; /* Adjust the size of the category header */
  margin-left: -10px; /* Move the category header further to the left */
}

.sidePanel h3 {
  margin: 10px 0 5px; /* Smaller margin for the headings */
  font-size: 1.4rem; /* Adjust the size of the subheaders */
  margin-left: -10px; /* Move the subheaders further to the left */
}

.sidePanel ul {
  list-style: none;
  padding: 0;
  margin: 0; /* Remove default margin */
}

.sidePanel li {
  margin: 0; /* Remove margin between list items */
  background-color: #f0f0f0; /* Same background color as the side panel */
  width: calc(100% + 40px); /* Ensure the li covers the full width, accounting for padding */
  margin-left: -20px; /* Adjust margin to ensure the li starts from the edge */
  margin-right: -20px; /* Adjust margin to ensure the li ends at the edge */
  padding: 0; /* Remove any default padding */
}

.sidePanel li a {
  color: #333;
  text-decoration: none;
  display: block; /* Make the link cover the entire li */
  padding: 5px 30px; /* Adjust padding for the links */
  font-weight: bold; /* Make the links bold */
  margin-left: 0; /* Remove margin-left to align with the headers */
}

.sidePanel li a:hover {
  background-color: #e0e0e0; /* Change background color on hover */
}

.sidePanel .activeLink a {
  background-color: #682bd7;
  color: white;
}

.sidePanel .activeLink a:hover {
  background-color: #682bd7; /* Maintain the active link's background color on hover */
}

.mainContentWrapper {
  display: flex;
  flex-direction: column;
}

.mainContent {
  display: flex;
  flex-direction: column;
  overflow-x: auto; /* Ensure main content can scroll horizontally */
}

.adTop {
  width: 100%; /* Extend to cover the full width */
  height: 150px; /* Adjust height for the top ad */
  background-color: pink; /* For visualization */
  text-align: center;
}

.postContainer {
  flex: 1; /* Allow the post container to grow and fill available space */
  margin: 10px 0; /* Add margin to separate from ad section and side panel */
  padding: 20px;
  line-height: 1.6;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  overflow-x: auto; /* Ensure that horizontal scrolling is allowed if needed */
}

.postHeader {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postHeaderContent {
  flex: 1;
}

.postTitle {
  font-size: 42px;
  margin-bottom: 10px;
  color: #333;
}

.favoriteIcon {
  cursor: pointer;
  font-size: 2rem;
  color: #682bd7;
}

.postMeta {
  color: #666;
  font-size: 0.9rem;
}

.postContent {
  font-size: 1rem;
  color: #444;
  overflow-x: auto; /* Allow horizontal scrolling for post content if needed */
}

.postContent h2 {
  font-size: 1.8rem;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #333;
}

.postContent p {
  margin-bottom: 15px;
  font-size: 20px !important;
}

.postContent img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

.postContent a {
  color: #1e90ff;
  text-decoration: none;
}

.postContent a:hover {
  text-decoration: underline;
}

.adSection {
  background-color: lightblue; /* For visualization, remove or adjust as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items to the top */
  position: relative;
  z-index: 1; /* Lower z-index to ensure authButton is on top */
}

.adSide {
  width: 300px; /* Adjust width for the side ad */
  height: 100vh; /* Adjust height for the side ad */
  position: fixed; /* Fix position so it doesn't cause overflow */
  right: 0; /* Align to the right */
  top: 0; /* Align to the top */
  z-index: 1; /* Lower z-index to ensure authButton is on top */
}

@media (max-width: 1067px) {
  .sidePanel {
    display: none; /* Hide side panel on small screens */
  }

  .adSection {
    display: none; /* Hide ad section on small screens */
  }

  .pageContainer {
    grid-template-columns: 1fr; /* Single column layout for small screens */
  }

  .mainContent {
    width: 100%; /* Ensure main content takes the full width */
    margin: 0; /* Remove right and left margin */
  }

  .adTop {
    width: 100%; /* Take full width on small screens */
  }

  .postContainer {
    margin: 0 20px; /* Maintain margin to separate from ad section */
    overflow-x: auto; /* Ensure horizontal scrolling is allowed */
  }
}
