.navContainer {
    display: flex;
    align-items: center;
    background-color: #333333;
    padding: 10px 20px;
    width: 100%;
    z-index: 1001; /* Ensure the nav is above the side panel */
  }
  
  .linksContainer {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  
  .categoryLink {
    margin-right: 15px;
    color: white;
    text-decoration: none;
  }
  
  .toggleButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: white;
    margin-right: 15px;
  }
  
  .sidePanel {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Maintain 250px width */
    height: 100vh; /* Extend to the full height of the viewport */
    background-color: rgba(240, 240, 240, 1);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: auto;
  }
  
  .sidePanel h2 {
    margin-top: 0;
    font-size: 1.6rem;
  }
  
  .sidePanel h3 {
    margin: 10px 0 5px;
    font-size: 1.4rem;
  }
  
  .sidePanel ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Remove default margin */
  }
  
  .sidePanel li {
    margin: 0; /* Remove margin between list items */
    background-color: #f0f0f0; /* Same background color as the side panel */
    width: calc(100% + 40px); /* Ensure the li covers the full width, accounting for padding */
    margin-left: -20px; /* Adjust margin to ensure the li starts from the edge */
    margin-right: -20px; /* Adjust margin to ensure the li ends at the edge */
    padding: 0; /* Remove any default padding */
  }
  
  .sidePanel li a {
    color: #333;
    text-decoration: none;
    display: block; /* Make the link cover the entire li */
    padding: 5px 30px; /* Adjust padding for the links */
    font-weight: bold; /* Make the links bold */
    margin-left: 0; /* Remove margin-left to align with the headers */
  }
  
  .sidePanel li a:hover {
    background-color: #e0e0e0; /* Change background color on hover */
  }
  
  .sidePanel .activeLink a {
    background-color: #682bd7;
    color: white;
  }
  
  .sidePanel .activeLink a:hover {
    background-color: #682bd7; /* Maintain the active link's background color on hover */
  }
  
  .hidden {
    display: none;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  @media (min-width: 1068px) {
    .closeButton {
      display: none;
    }
  }
  